<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
       <link rel= "stylesheet" href= "/css/styles.css">
       <link rel="icon" href="/images/weather.jpg">
    </head>
    <body>
        <div class="main-content"> 
            {{>header}}
            <p> Hey its me! {{name}} <br> Trying to play around with webpages while also providing you info which you can just find by looking out of window. Haha!</p>
            <img class="potrait" src= "/images/test.png">

        </div>

        {{>footer}}
    </body>
</html>